html{
  font-size: 10px;
  font-family: 'Noto Sans JP', sans-serif;
}

body{
  margin: 0;
}

::-webkit-scrollbar{
  background-color: rgb(155, 155, 155);
}

  ::-webkit-scrollbar-thumb{
    background-color: rgba(104, 136, 243, 0.37);
    border-radius: 5px;
  }

.App{
  text-align: center;
  color: white;
}

  .parallax{
    background-image: linear-gradient(rgb(6,13,19), rgb(16,40,62), rgb(70,79,96), rgb(100,101,106), rgb(248, 112, 12));
  }

    .parallax--text{
      font-size: 2rem;
    }

      .parallax--text>h2{
        margin: 15px;
      }

    .paralax--mountains{
      width: 100%;
      height: 275px;
      /* height: 25%; */
    }

/* ############################
          FindME 
   ############################*/

.findme{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

  .findme--icon{
    max-width: 120px;
  }

    .findme--icon:hover{
      max-width: 110px;
      padding-left: 10px;
    }
